*{
    font-family: verdana;
}
body{
background-color: teal;
background-image: url(https://jasonrado.github.io/Rado_WebDev_Midterm/calendar.jpg);
background - repeat : no-repeat;
}
.container {
background-color: transparent;
max-width: 550px; 
margin: auto; 
display: flex;
justify-content: center;
align-items:center;
border-collapse: collapse; 
 border: 1px solid teal;   
}
.container2 {
background-color: transparent;
max-width: 550px; 
margin: auto; 
display: flex;
justify-content: center;
align-items:center;
border-collapse: collapse; 
 border: 1px solid teal;   
}
.month {
        text-allign: center;
        background-color: transparent;
        font-size: 2em; 
        letter-spacing: 5px; 
        color: red; 
        padding: 25px; 
      }
table, th, td {
        width: auto; 
        table-layout:fixed; 
        text-allign: center; 
        font-size: 20px; 
        border-collapse: collapse; 
        border: 1px solid teal;   
      }
 tr, th, td {
        padding: 20px;
      }
      th {
        background: transparent;
        color: #00FFFF; 
      }
      td {
        background: transparent;
        color: white;
      }
      #bmonth {
        font-size: 20px;
        background: transparent;
      }
