body{
background-color: teal;
background-image: url(https://jasonrado.github.io/Rado_WebDev_Midterm/calendar.jpg);
background - repeat : no-repeat;
}
.container {
background-color: teal;
max-width: 400px; 
margin: auto; 
}
.month {
        text-allign: center;
        background-color: teal;
        font-size: 2em; 
        letter-spacing: 5px; 
        color: white; 
        padding: 25px; 

      }
table, th, td {
        width: 100%; 
        table-layout:fixed; 
        text-allign: center; 
        font-size: 16px; 
        border-collapse: collapse; 
        border: 1px solid black;   
      }
 tr, th, td {
        padding: 20px;
      }
      th {
        background: teal;
        color: #00FFFF; 
      }
      td {
        background: teal; 
      }
      #bmonth {
        font-size: 20px;
        background: teal;
      }



